@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Out of Cheese Error - +++ Redo From Start +++</h1>
    <h2 class="error">+++Divide By Cucumber Error. Please Reinstall Universe And Reboot +++</h2>
</hgroup>
